<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0a556c8d-82ba-481b-8e0f-09577dd44320/resourceGroups/grClass06/providers/Microsoft.ContainerRegistry/registries/registryclass06</ResourceId>
    <ResourceName>registryclass06</ResourceName>
    <ResourceGroup>grClass06</ResourceGroup>
    <Subscription>Suscripción de Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://registryclass06.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f8a92b7a-2a83-424a-88cf-c7ad3bfe040b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>